In [7]:
import pandas as pd
import csv

In [2]:
df=pd.read_csv(r"C:\Users\baiga\Documents\0 Final project\Solar home half-hour data - 1 July 2012 to 30 June 2013\2012-2013 Solar home electricity data v2.csv")

In [3]:
df.head()

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00,Row Quality
0,1,3.78,2076,CL,1/07/2012,1.250,1.250,1.250,1.263,0.131,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.081,NaN
1,1,3.78,2076,GC,1/07/2012,0.855,0.786,0.604,0.544,0.597,...,0.374,0.447,0.549,0.136,0.288,0.181,0.651,0.090,0.068,NaN
2,1,3.78,2076,GG,1/07/2012,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN
3,1,3.78,2076,CL,2/07/2012,1.250,1.250,1.125,0.000,0.925,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.069,NaN
4,1,3.78,2076,GC,2/07/2012,0.309,0.082,0.059,0.097,0.290,...,0.353,0.464,0.229,0.811,0.222,0.306,1.034,0.136,0.067,NaN

In [4]:
postcode_d = df[df['Consumption Category']=="GG"].sort_values(['Postcode'], ascending=[False])
postcode_d['Postcode'].value_counts()

2259    10139
2261     7665
2290     4745
2093     3285
2262     2920
        ...
2207      365
2294      365
2039      365
2330      365
2047      365
Name: Postcode, Length: 100, dtype: int64

In [5]:
#Get unique postcode:
postcode_u=sorted(df['Postcode'].unique())
len(postcode_u)

100

In [8]:
with open('postcodes.csv', 'w', newline='') as file_p:
    wr = csv.writer(file_p, quoting=csv.QUOTE_ALL, delimiter='\n')
    wr.writerow(postcode_u)